<div class="modal-header">
  <span class="fa fa-close close" ng-click="closeModal()"></span>
  <h3 class="modal-title" id="modal-title">Group Configuration</h3>
</div>
<div class="modal-body" id="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-push-6">
        <h4 class="text-center">Cart</h4>
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="group in getGroupsInCart()">
            <b>{{ getCorrespondingLetter($index) }}</b>: {{ group.name }}
          </li>
        </ul>
        <p>Please select your desired configuration for the groups in your cart.</p>
        <div ng-repeat="option in vennOptions[getAmountInCart()]">
          <label ng-if="option.name !== 'default'">
            <input type="radio" name="twoVennSelection" ng-click="setSelected(option)"/> {{ option.name }}
          </label>
        </div>
      </div>
      <div class="col-md-6 col-md-pull-6">
        <img class="img-responsive center-block" ng-src="/store/images/{{ getSelected().image }}"/>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
</div>
